$brand-color: #f38181;
$brand-color-2: #fce38a;
$brand-color-3: #eaffd0;
$brand-color-4: #95e1d3;

$light-grey-bg: #f8f8f8;
$white-bg: #FFFFFF;

$text-color: #FFFFFF;
$text-color-2: #f38181;
$text-color-3: #b6b6b6;
$text-color-4: #000000;

$font-family: 'Montserrat', sans-serif;
$font-family-2: 'Kaushan Script', cursive;
$font-family-3: 'Roboto', sans-serif;

$link-color: #FFF;
$link-hover: #fce38a;